{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"apis": "./apis",
					"common-components": "./common-components",
					"constants": "./constants",
					"helpers": "./helpers",
					"components": "./components",
					"hooks": "./hooks"
				}
			}
		],
		["babel-plugin-styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
	]
}